@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                    <h1 class="hidden-xs">Coding is an art!</h1>
                    <h4 class="visible-xs">Coding is an art!</h4>
                    <p class="text-primary">using .Net technologies <span class="glyphicon glyphicon-ok"></span></p>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="~/Content/images/banner.JPG" class="pull-right img-responsive" />
            </div>

        </div>

    
    
</div>
